<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="classicalMusicBean"
          class="org.ahmetzyanov.javaspringcourse.ClassicalMusic"
          scope="prototype"
          factory-method="getClassicalMusic"
          init-method="turnOnMusic"
          destroy-method="turnOffMusic">
    </bean>
    <bean id="rockMusicBean"
          class="org.ahmetzyanov.javaspringcourse.RockMusic"
          init-method="turnOnMusic"
          destroy-method="turnOffMusic">
    </bean>
    <bean id="jazzMusicBean"
          class="org.ahmetzyanov.javaspringcourse.JazzMusic"
          init-method="turnOnMusic"
          destroy-method="turnOffMusic">
    </bean>
    <bean id="rapMusicBean"
          class="org.ahmetzyanov.javaspringcourse.RapMusic"
          init-method="turnOnMusic"
          destroy-method="turnOffMusic">
    </bean>

    <bean name="thirdMusicPlayerBean"
          class="org.ahmetzyanov.javaspringcourse.MusicPlayer3"
          init-method="turnOnPlayer"
          destroy-method="turnOffPlayer"
          scope="prototype">
        <property name="musicList">
            <list>
                <ref bean="classicalMusicBean"/>
                <ref bean="rockMusicBean"/>
            </list>
        </property>
    </bean>

</beans>